## 목표
- IMDb 영화 리뷰 데이터 The Internet Movie DataBase의 약자
- 자연어 전처리 과정을 실습
- 영화리뷰데이터를 감성분석 진행

In [153]:
# import nltk
# nltk.download('all')

In [154]:
import pandas as pd
# 토큰화 필요한 함수 호출
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize

# 단어 빈도 계산에 사용할 Counter()함수 호출
from collections import Counter # 단어의 빈도수를 세어주는 함수
from nltk.corpus import stopwords # 불용어 관련 함수
from preprocessing import *

In [155]:
# 데이터 불러오기
# delimiter(구분자) 속성을 '\t'로 지정
df = pd.read_csv('imdb.tsv', delimiter="\t")
df

   Unnamed: 0                                             review
0           0  Watching Time Chasers, it obvious that it was ...
1           1  I saw this film about 20 years ago and remembe...
2           2  Minor Spoilers In New York, Joan Barnard (Elvi...
3           3  I went to see this film with a great deal of e...
4           4  Yes, I agree with everyone on this site this m...
5           5  Jennifer Ehle was sparkling in \"Pride and Pre...
6           6  Amy Poehler is a terrific comedian on Saturday...
7           7  A plane carrying employees of a large biotech ...
8           8  A well made, gritty science fiction movie, it ...
9           9  Incredibly dumb and utterly predictable story ...

###  대소문자 통합

In [156]:
# 소문자로 변환 / lower() 
df['review'] = df['review'].str.lower()

In [157]:
df

   Unnamed: 0                                             review
0           0  watching time chasers, it obvious that it was ...
1           1  i saw this film about 20 years ago and remembe...
2           2  minor spoilers in new york, joan barnard (elvi...
3           3  i went to see this film with a great deal of e...
4           4  yes, i agree with everyone on this site this m...
5           5  jennifer ehle was sparkling in \"pride and pre...
6           6  amy poehler is a terrific comedian on saturday...
7           7  a plane carrying employees of a large biotech ...
8           8  a well made, gritty science fiction movie, it ...
9           9  incredibly dumb and utterly predictable story ...

### 단어 토큰화

In [158]:
# 전체 코퍼스를 단어로 토큰화한 후 'word_tokens' 라는 컬럼을 생성하기
# word_tokenize 함수 사용
# 1. df에서 review 컬럼 접근
# 2. apply 메서드를 사용해서 word_tokenize 함수 사용 / .apply(함수이름)
# 3. word_tokens 라는 컬럼을 생성하여 값 담아주기
df['word_tokens'] = df['review'].apply(word_tokenize)

In [159]:
df

,Unnamed: 0,review,word_tokens
0,0,"watching time chasers, it obvious that it was ...","[watching, time, chasers, ,, it, obvious, that..."
1,1,i saw this film about 20 years ago and remembe...,"[i, saw, this, film, about, 20, years, ago, an..."
2,2,"minor spoilers in new york, joan barnard (elvi...","[minor, spoilers, in, new, york, ,, joan, barn..."
3,3,i went to see this film with a great deal of e...,"[i, went, to, see, this, film, with, a, great,..."
4,4,"yes, i agree with everyone on this site this m...","[yes, ,, i, agree, with, everyone, on, this, s..."
5,5,"jennifer ehle was sparkling in \""pride and pre...","[jennifer, ehle, was, sparkling, in, \, '', pr..."
6,6,amy poehler is a terrific comedian on saturday...,"[amy, poehler, is, a, terrific, comedian, on, ..."
7,7,a plane carrying employees of a large biotech ...,"[a, plane, carrying, employees, of, a, large, ..."
8,8,"a well made, gritty science fiction movie, it ...","[a, well, made, ,, gritty, science, fiction, m..."
9,9,incredibly dumb and utterly predictable story ...,"[incredibly, dumb, and, utterly, predictable, ..."

### 데이터 정제
- 등장빈도, 단어길이, 불용어 세트를 사용하여 데이터 정제

In [160]:
# 파이썬 모듈 파일이 중간에 수정되면 해당 내용이 자동으로 반영
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [161]:
# 함수 정의
def plus(a,b):
    return a+b

In [162]:
# 람다 함수 사용
lambda x, y : x+y

In [163]:
df['word_tokens']

0    [watching, time, chasers, ,, it, obvious, that...
1    [i, saw, this, film, about, 20, years, ago, an...
2    [minor, spoilers, in, new, york, ,, joan, barn...
3    [i, went, to, see, this, film, with, a, great,...
4    [yes, ,, i, agree, with, everyone, on, this, s...
5    [jennifer, ehle, was, sparkling, in, \, '', pr...
6    [amy, poehler, is, a, terrific, comedian, on, ...
7    [a, plane, carrying, employees, of, a, large, ...
8    [a, well, made, ,, gritty, science, fiction, m...
9    [incredibly, dumb, and, utterly, predictable, ...
Name: word_tokens, dtype: object

In [164]:
stopwords_set= set(stopwords.words('english')) # 불용어 세트
# 빈도수에 따른 데이터 정제 함수 : clean_by_freq
# 단어길이에 따른 데이터 정제 함수 : clean_by_len
# 불용어 세트를 활용한 정제 함수 : clean_by_stopwords

# 빈도수 정제 함수 사용 -> df['cleaned_words']에 대입
df['cleaned_words'] = df['word_tokens'].apply(lambda x:clean_by_freq(x,1)) 
## 람다함수의 x의 값에는 df['word_tokens']의 행값이 들어감!

# 단어길이(2) 정제함수 적용 -> df['cleaned_words'] 재대입
df['cleaned_words'] = df['cleaned_words'].apply(lambda x:clean_by_len(x,2))

# 불용어 정제 함수 적용 -> df['cleaned_words'] 재대입
df['cleaned_words'] = df['cleaned_words'].apply(lambda x:clean_by_stopwords(x,stopwords_set))

In [165]:
df['cleaned_words']

0    [one, film, said, '', 's, really, bad, movie, ...
1                                         [film, film]
2    [new, york, joan, barnard, elvire, audrey, bar...
3    [went, film, film, 's, went, 's, jump, send, n...
4    [site, movie, bad, even, movie, made, 's, movi...
5    [ehle, '', '', northam, wonderful, '', '', won...
6    [role, movie, n't, 's, author, book, author, '...
7    [plane, --, ceo, 's, --, search, rescue, missi...
8    [gritty, movie, sci-fi, good, suspense, movie,...
9         [girl, girl, '', '', --, --, '', '', '', '']
Name: cleaned_words, dtype: object

### 어간추출

In [166]:
# stemming_by_porter 함수 적용하기
# cleaned_words 컬럼값에 함수 적용
# stemmed_tokens 라는 컬럼 생성
df['stemmed_tokens'] = df['cleaned_words'].apply(stemming_by_porter)

In [167]:
df['stemmed_tokens']

0    [one, film, said, '', 's, realli, bad, movi, '...
1                                         [film, film]
2    [new, york, joan, barnard, elvir, audrey, barn...
3    [went, film, film, 's, went, 's, jump, send, n...
4    [site, movi, bad, even, movi, made, 's, movi, ...
5    [ehl, '', '', northam, wonder, '', '', wonder,...
6    [role, movi, n't, 's, author, book, author, 's...
7    [plane, --, ceo, 's, --, search, rescu, missio...
8    [gritti, movi, sci-fi, good, suspens, movi, sc...
9         [girl, girl, '', '', --, --, '', '', '', '']
Name: stemmed_tokens, dtype: object

In [168]:
# 문장 토큰화 진행
# sent_tokenize 함수 적용
# 'sent_tokens' 라는 컬럼 생성
df['sent_tokens'] = df['review'].apply(sent_tokenize)

In [169]:
df['sent_tokens'][0]

['watching time chasers, it obvious that it was made by a bunch of friends.',
 'maybe they were sitting around one day in film school and said, \\"hey, let\'s pool our money together and make a really bad movie!\\" or something like that.',
 'what ever they said, they still ended up making a really bad movie--dull story, bad script, lame acting, poor cinematography, bottom of the barrel stock music, etc.',
 "all corners were cut, except the one that would have prevented this film's release.",
 "life's like that."]

### 품사 태깅

In [170]:
# pos_tagger 함수 사용하여 'sent_tokens' 컬럼에 적용
# pos_tagged_tokens라는 컬럼 생성하기
df['pos_tagged_tokens'] = df['sent_tokens'].apply(pos_tagger)

In [171]:
print(df['pos_tagged_tokens'][0])

[('watching', 'VBG'), ('time', 'NN'), ('chasers', 'NNS'), (',', ','), ('it', 'PRP'), ('obvious', 'VBZ'), ('that', 'IN'), ('it', 'PRP'), ('was', 'VBD'), ('made', 'VBN'), ('by', 'IN'), ('a', 'DT'), ('bunch', 'NN'), ('of', 'IN'), ('friends', 'NNS'), ('.', '.'), ('maybe', 'RB'), ('they', 'PRP'), ('were', 'VBD'), ('sitting', 'VBG'), ('around', 'IN'), ('one', 'CD'), ('day', 'NN'), ('in', 'IN'), ('film', 'NN'), ('school', 'NN'), ('and', 'CC'), ('said', 'VBD'), (',', ','), ('\\', 'NNP'), ("''", "''"), ('hey', 'NN'), (',', ','), ('let', 'VB'), ("'s", 'POS'), ('pool', 'VB'), ('our', 'PRP$'), ('money', 'NN'), ('together', 'RB'), ('and', 'CC'), ('make', 'VB'), ('a', 'DT'), ('really', 'RB'), ('bad', 'JJ'), ('movie', 'NN'), ('!', '.'), ('\\', 'NN'), ("''", "''"), ('or', 'CC'), ('something', 'NN'), ('like', 'IN'), ('that', 'DT'), ('.', '.'), ('what', 'WP'), ('ever', 'RB'), ('they', 'PRP'), ('said', 'VBD'), (',', ','), ('they', 'PRP'), ('still', 'RB'), ('ended', 'VBD'), ('up', 'RP'), ('making', 'VBG'), ('a', 'DT'), ('really', 'RB'), ('bad', 'JJ'), ('movie', 'NN'), ('--', ':'), ('dull', 'JJ'), ('story', 'NN'), (',', ','), ('bad', 'JJ'), ('script', 'NN'), (',', ','), ('lame', 'NN'), ('acting', 'NN'), (',', ','), ('poor', 'JJ'), ('cinematography', 'NN'), (',', ','), ('bottom', 'NN'), ('of', 'IN'), ('the', 'DT'), ('barrel', 'NN'), ('stock', 'NN'), ('music', 'NN'), (',', ','), ('etc', 'FW'), ('.', '.'), ('all', 'DT'), ('corners', 'NNS'), ('were', 'VBD'), ('cut', 'VBN'), (',', ','), ('except', 'IN'), ('the', 'DT'), ('one', 'NN'), ('that', 'WDT'), ('would', 'MD'), ('have', 'VB'), ('prevented', 'VBN'), ('this', 'DT'), ('film', 'NN'), ("'s", 'POS'), ('release', 'NN'), ('.', '.'), ('life', 'NN'), ("'s", 'POS'), ('like', 'IN'), ('that', 'DT'), ('.', '.')]

### 표제어 추출

In [172]:
# word_lemmatizer 함수 사용하여 'pos_tagged_tokens' 컬럼에서 표제어 추출하기
# 'lemmatized_tokens' 라는 컬럼 생성

df['lemmatized_tokens'] = df['pos_tagged_tokens'].apply(word_lemmatizer)

In [173]:
print(df['lemmatized_tokens'][0])

['watch', 'time', 'chaser', ',', 'it', 'obvious', 'that', 'it', 'be', 'make', 'by', 'a', 'bunch', 'of', 'friend', '.', 'maybe', 'they', 'be', 'sit', 'around', 'one', 'day', 'in', 'film', 'school', 'and', 'say', ',', '\\', "''", 'hey', ',', 'let', "'s", 'pool', 'our', 'money', 'together', 'and', 'make', 'a', 'really', 'bad', 'movie', '!', '\\', "''", 'or', 'something', 'like', 'that', '.', 'what', 'ever', 'they', 'say', ',', 'they', 'still', 'end', 'up', 'make', 'a', 'really', 'bad', 'movie', '--', 'dull', 'story', ',', 'bad', 'script', ',', 'lame', 'acting', ',', 'poor', 'cinematography', ',', 'bottom', 'of', 'the', 'barrel', 'stock', 'music', ',', 'etc', '.', 'all', 'corner', 'be', 'cut', ',', 'except', 'the', 'one', 'that', 'would', 'have', 'prevent', 'this', 'film', "'s", 'release', '.', 'life', "'s", 'like', 'that', '.']

In [174]:
df

,Unnamed: 0,review,word_tokens,cleaned_words,stemmed_tokens,sent_tokens,pos_tagged_tokens,lemmatized_tokens
0,0,"watching time chasers, it obvious that it was ...","[watching, time, chasers, ,, it, obvious, that...","[one, film, said, '', 's, really, bad, movie, ...","[one, film, said, '', 's, realli, bad, movi, '...","[watching time chasers, it obvious that it was...","[(watching, VBG), (time, NN), (chasers, NNS), ...","[watch, time, chaser, ,, it, obvious, that, it..."
1,1,i saw this film about 20 years ago and remembe...,"[i, saw, this, film, about, 20, years, ago, an...","[film, film]","[film, film]",[i saw this film about 20 years ago and rememb...,"[(i, NN), (saw, VBD), (this, DT), (film, NN), ...","[i, saw, this, film, about, 20, year, ago, and..."
2,2,"minor spoilers in new york, joan barnard (elvi...","[minor, spoilers, in, new, york, ,, joan, barn...","[new, york, joan, barnard, elvire, audrey, bar...","[new, york, joan, barnard, elvir, audrey, barn...","[minor spoilers in new york, joan barnard (elv...","[(minor, JJ), (spoilers, NNS), (in, IN), (new,...","[minor, spoiler, in, new, york, ,, joan, barna..."
3,3,i went to see this film with a great deal of e...,"[i, went, to, see, this, film, with, a, great,...","[went, film, film, 's, went, 's, jump, send, n...","[went, film, film, 's, went, 's, jump, send, n...",[i went to see this film with a great deal of ...,"[(i, JJ), (went, VBD), (to, TO), (see, VB), (t...","[i, go, to, see, this, film, with, a, great, d..."
4,4,"yes, i agree with everyone on this site this m...","[yes, ,, i, agree, with, everyone, on, this, s...","[site, movie, bad, even, movie, made, 's, movi...","[site, movi, bad, even, movi, made, 's, movi, ...","[yes, i agree with everyone on this site this ...","[(yes, UH), (,, ,), (i, JJ), (agree, VBP), (wi...","[yes, ,, i, agree, with, everyone, on, this, s..."
5,5,"jennifer ehle was sparkling in \""pride and pre...","[jennifer, ehle, was, sparkling, in, \, '', pr...","[ehle, '', '', northam, wonderful, '', '', won...","[ehl, '', '', northam, wonder, '', '', wonder,...","[jennifer ehle was sparkling in \""pride and pr...","[(jennifer, NN), (ehle, NN), (was, VBD), (spar...","[jennifer, ehle, be, sparkle, in, \, '', pride..."
6,6,amy poehler is a terrific comedian on saturday...,"[amy, poehler, is, a, terrific, comedian, on, ...","[role, movie, n't, 's, author, book, author, '...","[role, movi, n't, 's, author, book, author, 's...",[amy poehler is a terrific comedian on saturda...,"[(amy, JJ), (poehler, NN), (is, VBZ), (a, DT),...","[amy, poehler, be, a, terrific, comedian, on, ..."
7,7,a plane carrying employees of a large biotech ...,"[a, plane, carrying, employees, of, a, large, ...","[plane, --, ceo, 's, --, search, rescue, missi...","[plane, --, ceo, 's, --, search, rescu, missio...",[a plane carrying employees of a large biotech...,"[(a, DT), (plane, NN), (carrying, VBG), (emplo...","[a, plane, carry, employee, of, a, large, biot..."
8,8,"a well made, gritty science fiction movie, it ...","[a, well, made, ,, gritty, science, fiction, m...","[gritty, movie, sci-fi, good, suspense, movie,...","[gritti, movi, sci-fi, good, suspens, movi, sc...","[a well made, gritty science fiction movie, it...","[(a, DT), (well, NN), (made, VBN), (,, ,), (gr...","[a, well, make, ,, gritty, science, fiction, m..."
9,9,incredibly dumb and utterly predictable story ...,"[incredibly, dumb, and, utterly, predictable, ...","[girl, girl, '', '', --, --, '', '', '', '']","[girl, girl, '', '', --, --, '', '', '', '']",[incredibly dumb and utterly predictable story...,"[(incredibly, RB), (dumb, JJ), (and, CC), (utt...","[incredibly, dumb, and, utterly, predictable, ..."

In [175]:
# 추가 전처리
# 불용어 세트 = stopwords_set
stopwords_set= set(stopwords.words('english')) 

# lemmatized_tokens 에 빈도수(clean_by_freq)=1, 단어길이(clean_by_len)=2, 불용어 정제(clean_by_stopwords),
# 불용어 정제 (clean_by_stopwords) 함수 사용
# cleaned_tokens라는 컬럼 생성

df['cleaned_tokens'] = df['lemmatized_tokens'].apply(lambda x:clean_by_freq(x,1)) 
df['cleaned_tokens'] = df['cleaned_tokens'].apply(lambda x:clean_by_len(x,2))
df['cleaned_tokens'] = df['cleaned_tokens'].apply(lambda x:clean_by_stopwords(x,stopwords_set))
df['cleaned_tokens']

0    [make, one, film, say, '', 's, make, really, b...
1                                         [film, film]
2    [new, york, joan, barnard, elvire, audrey, bar...
3    [go, film, film, 's, go, 's, jump, send, n't, ...
4    [site, movie, bad, even, movie, movie, make, '...
5    [ehle, '', '', northam, wonderful, '', '', won...
6    [role, movie, n't, 's, author, book, funny, au...
7    [plane, --, ceo, 's, --, go, search, rescue, m...
8    [gritty, movie, movie, keep, sci-fi, good, kee...
9         [girl, girl, '', '', --, --, '', '', '', '']
Name: cleaned_tokens, dtype: object

### 정수 인코딩
- 텍스트 데이터를 숫자 데이터로 변환
- 등장빈도를 기준으로 정렬한 다음 인덱스 부여

#### 1) 하나의 로우(행) 정수 인코딩

In [191]:
tokens = df['cleaned_tokens'][4]
print(tokens)

['site', 'movie', 'bad', 'even', 'movie', 'movie', 'make', "'s", 'movie', 'special', 'describe', 'movie', 'movie', 'describe', 'movie', 'jim', 'make', 'stand-up', 'day', 'stand-up', 'jim', 'like', 'jim', 'actor', 'love', 'stand', 'day', 'comedian', 'special', 'jim', 'day', 'even', 'site', 'love', 'jim', 'stand-up', 'jim', 'actor', 'movie', 'stand', 'comedian', 'jim', 'like', "''", "'s", "''", "''", 'really', "''", 'terrible', 'really', 'terrible', 'movie', 'terrible', 'really', 'bad', 'movie']

In [192]:
vocab = Counter(tokens)
# 단어 토큰들의 빈도수가 높은 순서대로 정렬 - most_common()
vocab = vocab.most_common()
print(vocab)

[('movie', 10), ('jim', 7), ("''", 4), ('stand-up', 3), ('day', 3), ('really', 3), ('terrible', 3), ('site', 2), ('bad', 2), ('even', 2), ('make', 2), ("'s", 2), ('special', 2), ('describe', 2), ('like', 2), ('actor', 2), ('love', 2), ('stand', 2), ('comedian', 2)]

In [193]:
# 각 단어에 인덱스 부여
word_to_idx ={}
i=0
for (word,freq) in vocab:
    i+=1
    word_to_idx[word] = i

In [194]:
print(word_to_idx)

{'movie': 1, 'jim': 2, "''": 3, 'stand-up': 4, 'day': 5, 'really': 6, 'terrible': 7, 'site': 8, 'bad': 9, 'even': 10, 'make': 11, "'s": 12, 'special': 13, 'describe': 14, 'like': 15, 'actor': 16, 'love': 17, 'stand': 18, 'comedian': 19}

In [195]:
print(tokens)

['site', 'movie', 'bad', 'even', 'movie', 'movie', 'make', "'s", 'movie', 'special', 'describe', 'movie', 'movie', 'describe', 'movie', 'jim', 'make', 'stand-up', 'day', 'stand-up', 'jim', 'like', 'jim', 'actor', 'love', 'stand', 'day', 'comedian', 'special', 'jim', 'day', 'even', 'site', 'love', 'jim', 'stand-up', 'jim', 'actor', 'movie', 'stand', 'comedian', 'jim', 'like', "''", "'s", "''", "''", 'really', "''", 'terrible', 'really', 'terrible', 'movie', 'terrible', 'really', 'bad', 'movie']

In [196]:
encoded_idx = []
for token in tokens:
    idx = word_to_idx[token]
    encoded_idx.append(idx)
print(encoded_idx)

[8, 1, 9, 10, 1, 1, 11, 12, 1, 13, 14, 1, 1, 14, 1, 2, 11, 4, 5, 4, 2, 15, 2, 16, 17, 18, 5, 19, 13, 2, 5, 10, 8, 17, 2, 4, 2, 16, 1, 18, 19, 2, 15, 3, 12, 3, 3, 6, 3, 7, 6, 7, 1, 7, 6, 9, 1]

#### 2) 전체 데이터 프레임 정수 인코딩

In [197]:
# 전체 코퍼스의 토큰들을 전부 합하여 단어의 등장 빈도 계산
print(sum(df['cleaned_tokens'],[]))

['make', 'one', 'film', 'say', "''", "'s", 'make', 'really', 'bad', 'movie', "''", 'like', 'say', 'make', 'really', 'bad', 'movie', 'bad', 'one', 'film', "'s", "'s", 'like', 'film', 'film', 'new', 'york', 'joan', 'barnard', 'elvire', 'audrey', 'barnard', 'john', 'saxon', 'italy', 'etruscan', 'tomb', 'joan', 'italy', 'colleague', 'italy', 'maggot', 'maggot', 'joan', 'drug', 'drug', 'tomb', 'colleague', 'story', 'end', 'new', 'york', 'joan', 'colleague', 'romantic', 'end', 'waste', 'time', 'watch', 'story', 'romantic', 'end', 'elvire', 'audrey', 'john', 'saxon', 'maggot', 'watch', 'etrusco', 'go', 'watch', 'go', 'go', 'waste', 'time', 'etrusco', 'etruscan', 'go', 'film', 'film', "'s", 'go', "'s", 'jump', 'send', "n't", 'jump', 'radio', "n't", 'send', 'reporter', 'fear', 'jump', 'fear', 'radio', 'reporter', "n't", 'radio', "n't", 'go', "n't", 'site', 'movie', 'bad', 'even', 'movie', 'movie', 'make', "'s", 'movie', 'special', 'describe', 'movie', 'movie', 'describe', 'movie', 'jim', 'make', 'stand-up', 'day', 'stand-up', 'jim', 'like', 'jim', 'actor', 'love', 'stand', 'day', 'comedian', 'special', 'jim', 'day', 'even', 'site', 'love', 'jim', 'stand-up', 'jim', 'actor', 'movie', 'stand', 'comedian', 'jim', 'like', "''", "'s", "''", "''", 'really', "''", 'terrible', 'really', 'terrible', 'movie', 'terrible', 'really', 'bad', 'movie', 'ehle', "''", "''", 'northam', 'wonderful', "''", "''", 'wonderful', 'ehle', 'northam', 'lust', 'lust', 'ehle', 'northam', 'role', 'movie', "n't", "'s", 'author', 'book', 'funny', 'author', "'s", 'author', 'role', "n't", 'funny', 'queen', 'corn', 'corn', 'queen', 'author', 'book', 'movie', "n't", 'plane', '--', 'ceo', "'s", '--', 'go', 'search', 'rescue', 'mission', 'call', 'ceo', 'harlan', 'knowles', 'lance', 'henriksen', 'put', 'search', 'rescue', 'mission', 'knowles', 'search', 'try', 'rescue', 'wood', 'film', 'one', 'lance', 'henriksen', 'one', 'two', 'could', 'easily', 'decent', 'film', 'two', "'re", 'quastel', "'s", '--', 'film', 'call', 'sasquatch', 'bad', 'edit', 'see', 'quastel', "'s", 'appear', "''", "'s", 'try', 'time', 'want', 'try', "''", 'potential', 'material', 'relate', 'plane', 'try', 'crib', 'material', 'relate', 'monster', 'crib', 'exposition', 'dialogue', 'potential', 'far', 'monster', 'costume', 'get', 'see', 'character', 'wood', 'could', 'quastel', 'would', 'stereotype', 'time', 'monster', "'s", "''", "''", 'edit', 'well', 'scene', 'decent', 'dialogue', 'could', 'easily', 'effective', 'sasquatch', 'make', 'reason', 'quastel', 'think', "'s", 'good', 'idea', 'dialogue', 'scene', 'occur', 'time', 'see', 'line', 'scene', 'line', 'scene', 'back', 'back', 'reason', 'think', "'s", 'good', 'idea', 'use', 'use', 'dialogue', 'whether', 'need', 'idea', 'time', 'irrelevant', 'comment', 'whether', 'irrelevant', 'comment', 'occur', 'one', 'time', 'reason', "n't", 'whether', 'scene', 'cut', 'random', 'scene', "'re", 'show', 'appear', 'random', 'important', 'either', 'never', 'appear', "'re", 'far', 'scene', 'reason', 'leave', 'scene', 'film', 'either', 'need', 'exposition', 'get', 'need', 'cut', "'s", 'important', 'monster', "'s", "''", "''", 'could', 'easily', 'show', 'reason', 'character', '--', '--', 'leave', 'even', 'though', "'s", 'reason', 'go', 'scene', 'even', 'though', 'never', 'reason', 'character', 'call', 'harlan', 'knowles', "''", "''", 'like', "'re", 'stereotype', 'reason', 'quastel', 'use', "''", "''", "''", "''", 'monster', 'scene', 'even', 'though', 'costume', "n't", 'bad', 'would', 'effective', 'put', 'bad', 'could', 'go', 'get', 'idea', 'want', 'like', 'film', 'good', "'m", 'henriksen', "'m", 'love', 'love', 'film', 'one', '--', 'could', "n't", 'time', 'think', "''", 'go', 'well', "''", 'quastel', 'make', 'gritty', 'movie', 'movie', 'keep', 'sci-fi', 'good', 'keep', 'suspense', 'look', 'movie', 'sci-fi', "'re", 'look', "'re", 'look', 'good', 'gritty', 'sci-fi', 'good', 'suspense', 'movie', 'good', 'girl', 'girl', "''", "''", '--', '--', "''", "''", "''", "''"]

In [198]:
# 전체 단어에 인덱스 부여
word_to_idx = {}
i = 0
tokens = sum(df['cleaned_tokens'],[])
# 등장빈도 계산 후 vocab 변수에 담아주기 - Counter()
vocab = Counter(tokens)
# 등장 빈도 순서대로 정렬하기 - most_common()
vocab = vocab.most_common()

for (word,freq) in vocab:
    i+=1
    word_to_idx[word] = i
print(word_to_idx)

{"''": 1, "'s": 2, 'movie': 3, 'film': 4, "n't": 5, 'go': 6, 'scene': 7, 'bad': 8, 'time': 9, '--': 10, 'reason': 11, 'make': 12, 'jim': 13, 'good': 14, 'one': 15, 'like': 16, 'could': 17, "'re": 18, 'quastel': 19, 'really': 20, 'even': 21, 'monster': 22, 'joan': 23, 'love': 24, 'author': 25, 'try': 26, 'dialogue': 27, 'idea': 28, 'italy': 29, 'colleague': 30, 'maggot': 31, 'end': 32, 'watch': 33, 'jump': 34, 'radio': 35, 'stand-up': 36, 'day': 37, 'terrible': 38, 'ehle': 39, 'northam': 40, 'search': 41, 'rescue': 42, 'call': 43, 'knowles': 44, 'henriksen': 45, 'easily': 46, 'see': 47, 'appear': 48, 'get': 49, 'character': 50, 'think': 51, 'use': 52, 'whether': 53, 'need': 54, 'though': 55, 'sci-fi': 56, 'look': 57, 'say': 58, 'new': 59, 'york': 60, 'barnard': 61, 'elvire': 62, 'audrey': 63, 'john': 64, 'saxon': 65, 'etruscan': 66, 'tomb': 67, 'drug': 68, 'story': 69, 'romantic': 70, 'waste': 71, 'etrusco': 72, 'send': 73, 'reporter': 74, 'fear': 75, 'site': 76, 'special': 77, 'describe': 78, 'actor': 79, 'stand': 80, 'comedian': 81, 'wonderful': 82, 'lust': 83, 'role': 84, 'book': 85, 'funny': 86, 'queen': 87, 'corn': 88, 'plane': 89, 'ceo': 90, 'mission': 91, 'harlan': 92, 'lance': 93, 'put': 94, 'wood': 95, 'two': 96, 'decent': 97, 'sasquatch': 98, 'edit': 99, 'want': 100, 'potential': 101, 'material': 102, 'relate': 103, 'crib': 104, 'exposition': 105, 'far': 106, 'costume': 107, 'would': 108, 'stereotype': 109, 'well': 110, 'effective': 111, 'occur': 112, 'line': 113, 'back': 114, 'irrelevant': 115, 'comment': 116, 'cut': 117, 'random': 118, 'show': 119, 'important': 120, 'either': 121, 'never': 122, 'leave': 123, "'m": 124, 'gritty': 125, 'keep': 126, 'suspense': 127, 'girl': 128}

In [199]:
# 인코딩 함수 정의
def idx_encoder(tokens,word_to_idx):
    encoded_idx = [] # 인코딩한 값을 담아줄 리스트
    
    for token in tokens:
        idx = word_to_idx[token]
        encoded_idx.append(idx)
        
    return encoded_idx

In [200]:
df['cleaned_tokens'].apply(lambda x:idx_encoder(x,word_to_idx))

0    [12, 15, 4, 58, 1, 2, 12, 20, 8, 3, 1, 16, 58,...
1                                               [4, 4]
2    [59, 60, 23, 61, 62, 63, 61, 64, 65, 29, 66, 6...
3    [6, 4, 4, 2, 6, 2, 34, 73, 5, 34, 35, 5, 73, 7...
4    [76, 3, 8, 21, 3, 3, 12, 2, 3, 77, 78, 3, 3, 7...
5    [39, 1, 1, 40, 82, 1, 1, 82, 39, 40, 83, 83, 3...
6    [84, 3, 5, 2, 25, 85, 86, 25, 2, 25, 84, 5, 86...
7    [89, 10, 90, 2, 10, 6, 41, 42, 91, 43, 90, 92,...
8    [125, 3, 3, 126, 56, 14, 126, 127, 57, 3, 56, ...
9                 [128, 128, 1, 1, 10, 10, 1, 1, 1, 1]
Name: cleaned_tokens, dtype: object

### 감정분석
- 자연어에 담긴 어조가 긍정적인지, 부정적인지 혹은 중립적인지 확인하는 작업
- VADER 감성분석기 활용

#### VADER 감성분석
- 감성분석을 위한 어휘 사전이자 알고리즘
- 축약형과 기호 등을 고려하여 감성 지수를 추출
- 소셜미디어 텍스트를 분석할 때 자주 사용

In [201]:
pip install vaderSentiment

Collecting vaderSentiment
  Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl (125 kB)
                                              0.0/126.0 kB ? eta -:--:--
     -------------------------------------- 126.0/126.0 kB 7.7 MB/s eta 0:00:00
Requirement already satisfied: requests in c:\users\smhrd\anaconda3\lib\site-packages (from vaderSentiment) (2.29.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\smhrd\anaconda3\lib\site-packages (from requests->vaderSentiment) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\smhrd\anaconda3\lib\site-packages (from requests->vaderSentiment) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\smhrd\anaconda3\lib\site-packages (from requests->vaderSentiment) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\smhrd\anaconda3\lib\site-packages (from requests->vaderSentiment) (2023.5.7)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2
Note: you may need to restart the kernel to use updated packages.

In [204]:
# 라이브러리 로딩
from nltk.sentiment.vader import SentimentIntensityAnalyzer
senti_analyzer = SentimentIntensityAnalyzer()

In [209]:
text1 = "This is a great movie!"
text2 = "This is a terrible movie!"
text3 = "This movie was just okay."

# VADER 감성분석
# 단어, 문장, 여러 문장으로 이루어진 코퍼스도 바로 감성 지수 계산 가능
# polarity_scores 메서드 사용
# neg : 부정 감성지수
# neu : 중립 감성지수
# pos : 긍정 감성지수
# compound : 위 3개 지수를 적절하게 조합하여 -1(부정)과 1(긍정) 사이의 감성지수를 나타냄
print(senti_analyzer.polarity_scores(text1))
print(senti_analyzer.polarity_scores(text2))
print(senti_analyzer.polarity_scores(text3))

{'neg': 0.0, 'neu': 0.406, 'pos': 0.594, 'compound': 0.6588}
{'neg': 0.531, 'neu': 0.469, 'pos': 0.0, 'compound': -0.5255}
{'neg': 0.0, 'neu': 0.678, 'pos': 0.322, 'compound': 0.2263}

In [211]:
df[['review']]

                                              review
0  watching time chasers, it obvious that it was ...
1  i saw this film about 20 years ago and remembe...
2  minor spoilers in new york, joan barnard (elvi...
3  i went to see this film with a great deal of e...
4  yes, i agree with everyone on this site this m...
5  jennifer ehle was sparkling in \"pride and pre...
6  amy poehler is a terrific comedian on saturday...
7  a plane carrying employees of a large biotech ...
8  a well made, gritty science fiction movie, it ...
9  incredibly dumb and utterly predictable story ...

In [212]:
# VADER 감성분석 함수 정의
def vader_sentiment(text):
    senti_analyzer = SentimentIntensityAnalyzer()
    # 감성분석 - polarity_scores 메서드
    senti_score = senti_analyzer.polarity_scores(text)['compound']
    return senti_score

In [216]:
df['varder_sentiment'] = df['review'].apply(vader_sentiment)
df[['review','varder_sentiment']]

                                              review  varder_sentiment
0  watching time chasers, it obvious that it was ...           -0.9095
1  i saw this film about 20 years ago and remembe...           -0.9694
2  minor spoilers in new york, joan barnard (elvi...           -0.2794
3  i went to see this film with a great deal of e...           -0.9707
4  yes, i agree with everyone on this site this m...            0.8444
5  jennifer ehle was sparkling in \"pride and pre...            0.9494
6  amy poehler is a terrific comedian on saturday...            0.8473
7  a plane carrying employees of a large biotech ...            0.9885
8  a well made, gritty science fiction movie, it ...            0.9887
9  incredibly dumb and utterly predictable story ...           -0.7375

In [222]:
# 감성지수가 가장 낮은 리뷰는?
print(df['varder_sentiment'].sort_values())
df['review'][3]

3   -0.9707
1   -0.9694
0   -0.9095
9   -0.7375
2   -0.2794
4    0.8444
6    0.8473
5    0.9494
7    0.9885
8    0.9887
Name: varder_sentiment, dtype: float64

"i went to see this film with a great deal of excitement as i was at school with the director, he was even a good friend of mine for a while. but sorry mate, this film stinks. i can only talk about what was wrong with the first half because that's when i walked out and went to the pub for a much needed drink: 1) someone's standing on a balcony about to jump and so you send a helicopter to shine a searchlight on them??? i don't think so - nothing would make them more likely to jump. 2) local radio doesn't send reporters to cover people about to attempt suicide - again for fear of pressuring them into jumping - or for fear of encouraging copy-cat instances. 3) whatever the circumstances, radio reporters don't do live broadcasts from the 10th floor of a tower block. radio cars don't carry leads long enough to connect the microphone and headphones to the transmitter. 4) the stuck in the lift scene was utterly derivative 5) the acting and direction was almost non existent.i could go on, but i won't."

In [224]:
# 이 영화의 감성지수 총합은?
df['varder_sentiment'].sum()

0.7518